@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

.container {
  @apply max-w-7xl mx-auto px-4;
}

section{
  @apply py-16 md:py-24;
}

body{
  @apply text-gray-800;
  background: linear-gradient(135deg, #1a3a6d 0%, #7b8da5 50%, #e2d8c3 100%);
  background-attachment: fixed
}
@keyframes fadeIn {
  from {opacity: 0; transform: translateY(20px);}
  to {opacity: 1; transform: translateY(0);}
}
.animate-fadeIn {
  animation: fadeIn 1s ease-out forwards;
}



.rdp-day:focus-visible {
  outline: none;
}


.rdp-day_selected, 
.rdp-day_selected:hover {
  background-color: rgba(16, 6, 159, 0.05) !important; 
  border: 1px solid #10069F !important; 
  color: #10069F !important; 
  font-weight: 600;
  border-radius: 12px !important;
}


.rdp-day:hover:not(.rdp-day_selected) {
  background-color: rgba(16, 6, 159, 0.03) !important;
  border: 1px solid rgba(16, 6, 159, 0.1);
}


.rdp-button:hover:not([disabled]):not(.rdp-day_selected) {
  background-color: rgba(16, 6, 159, 0.03);
}

.rdp-day_today {
  font-weight: 900 !important;
  text-decoration: underline;
  color: #10069F;
}