@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

.container {
  @apply max-w-7xl mx-auto px-4;
}

section{
  @apply py-16 md:py-24;
}

body{
  @apply text-gray-800 bg-[#FFFFF0];
}
@keyframes fadeIn {
  from {opacity: 0; transform: translateY(20px);}
  to {opacity: 1; transform: translateY(0);}
}
.animate-fadeIn {
  animation: fadeIn 1s ease-out forwards;
}
