@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

.container {
  @apply max-w-7xl mx-auto px-4;
}

section{
  @apply py-16 md:py-24;
}

body{
  @apply text-gray-800;
  background: linear-gradient(135deg, #1a3a6d 0%, #7b8da5 50%, #e2d8c3 100%);
  background-attachment: fixed
}
@keyframes fadeIn {
  from {opacity: 0; transform: translateY(20px);}
  to {opacity: 1; transform: translateY(0);}
}
.animate-fadeIn {
  animation: fadeIn 1s ease-out forwards;
}
